.dark{
    background: $dark-color;
    
    /* Header */
    header{
        background: $dark-color;
        background-color: $dark-color;
        border-top: 5px solid #000000;
        .menu-bar{
            a{
                background-image: url(../assets/logo-mobile-modo-noct.svg);
            }
            .btn-menu{
                img{
                    filter: brightness(2000%);
                }
            }
        }
        .full-menu{
            background: #000000;
        }
    }

    main{

        /* Principal con imagen / barra de busqueda */
        .principal-section{
            .principal-container{
                h1{
                    color: $color-white;
                }
                .principal-container-input{
                    input{
                        color: $color-white;
                        background-color: $dark-color;
                        border: 1px solid $color-white;
                    }
                    a{
                        img{
                            filter: brightness(2000%);
                        }
                    }
                }
                .suggestion-container {
                    background-color: $dark-color;
                    border: 1px solid $color-white;
                    border-top: none;
                    hr{
                        color: #9CAFC3;
                    }
                    .suggestions{
                        li{
                            color: #9CAFC3;

                            &:hover {
                                background-color: rgba(65, 65, 65, 0.911);
                                cursor: default;
                            }
                            img{
                                color: #9CAFC3;
                            }
                        }
                    }
                }  
            }
        }

        /* Tendring Section */
        .trending-section{
            .trending-container{
                h2, p, span{
                    color: $color-white;
                }
            }
        }

        /* Result Search */
        .result-search-section{
            .result-search-title{
                color: $color-white;
            }
            .btn{
                border: 1px solid $color-white;
                color: #000000;
                background: transparent;
            }
        }

        /* Empty Search */
        .search-empty-section{
            .search-empty{
                h2{
                    color: $color-white;
                }
            }
        }

        /* Favorites */
        .favorite{
            .favorite-section{
                .favorite-container{
                    h2{
                        color: $color-white;
                    }
                }
            }
        }

        /* Mis Gifos */
        .misGifos{
            .misGifos-section{
                .misGifos-container{
                    h2{
                        color: $color-white;
                    }
                }
            }
        }

        /* Slider de Gifos */
        .carousel{
            background-color: $bold-dark-color;
            h2{
                color: $color-white;
            }
            p{
                color: $color-white;
            }
            .slick-list{
                .slick-arrow{
                    background-color: $bold-dark-color;
                    border: 1px solid $color-white;
                }
                .slick-prev{
                    img{
                        filter: brightness(2000%);
                    }
                }
                .slick-next{
                    img{
                        filter: brightness(2000%);
                    }
                }
            }
        }

        /* Create Gifos */
        .createGifos{
            .createGifos-container{
                .container-top{
                    .container-camera{
                        .createGifos-img-camera{
                            background-image: url(../assets/camara-modo-noc.svg);
                        }
                    }
                    .container-createGifos-box{
                        .createGifos-box{
                            .createGifos-box-intern{
                                h2{

                                    color: $color-white;
                                }
                                p{
                                    color: $color-white;
                                }
                            }
                        }
                        .container-createGifos-bottom{
                            div{
                                border: 1px solid $color-white;
                                a{
                                    color: $color-white;
                                }
                            }
                        }
                    }
                    .container-movie{
                        .createGifos-movie{
                            background-image: url(../assets/pelicula-modo-noc.svg);
                        }
                    }
                }
                .container-bottom{
                    .container-btn{
                        .btn-create{
                            border: 1px solid $color-white;
                            color: $color-white;
                            &:hover{
                                background: $color-white;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Footer */
    footer{
        border-bottom: 5px solid #000000;
        .footer-social{
            p{
                color: $color-white;
            }
            .icons{
                .face{

                    background-image: url(../assets/icon_facebook_noc.svg);
                }
                .twit{

                    background-image: url(../assets/icon-tw-normal.svg);
                }
                
                .insta{
                    background-image: url(../assets/icon_instagram_noc.svg);
                }
                &:hover{                   
                    .face{
                        background-image: url(../assets/icon_facebook_noc.svg);
                    }
                    .twit{
                        background-image: url(../assets/icon-tw-normal.svg);
                    }
                    .insta{
                        background-image: url(../assets/icon_instagram_noc.svg);
                    }
                }
            }
        }
        .footer-copy{
            p{
                color: $color-white;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .dark{
        /* header */
        header{
            .full-menu{
                background: transparent;
                ul{
                    li{
                        color: $color-white;
                    }
                    .span{
                        border-bottom: 1px solid $dark-color;
                    }
                }
                .add{
                    background-image: url(../assets/CTA-crear-gifo-modo-noc.svg);
                }
            }
        }
    }
}
@media screen and (min-width: 1024px){
    .dark{
        /* header */
        header{
            .menu-bar{
                a{
                    background-image: url(../assets/logo-desktop-modo-noc.svg);
                }
            }
            .full-menu{
                .add{
                    &:hover{
                        background: $color-white;
                        background-image: url(../assets/CTA-crear-gifo-hover-modo-noc.svg);
                    }
                    &:active{
                        background:#9CAFC3;
                        background-image: url(../assets/CTA-crear-gifo-active-modo-noc.svg);
                    }
                }
            }
        }

        main{

            /* Result Search */
            .result-search-section{
                .btn:hover{
                    background-color: $color-white;
                    color: #000000;
                }
            }

            /* Slider de Gifos */
            .carousel{
                .slick-list{
                    .slick-prev{
                        &:hover{
                            background: $color-white;
                            img{ 
                                filter: brightness(0%);
                            }
                        }
                    }
                    .slick-next{
                        &:hover{
                            background: $color-white;
                            img{
                                filter: brightness(0%);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1280px){
    .dark{
        header{
            .search-nav{
                input{
                    color: $color-white;
                    background: $dark-color;
                    border: 1px solid $color-white;
                }
                a{
                    img{
                        filter: brightness(2000%);
                    }
                }
            }
        }
    }
}