footer{
    font-family: $secondary-font;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-flow: column;
    border-bottom: 5px solid $color-principal;
    
    .footer-social{
        p{
            font-size: 15px;
            color: #000000;
            letter-spacing: 0;
            padding: 20px 0px;
        }
        a{
            text-decoration: none;
            color: inherit;
            margin: 10px;
        }
    }
    .footer-copy{
        font-size: 14px;
        padding: 20px 0px;
    }
}