main{

    /* Principal con imagen / barra de busqueda */
    .principal-section{
        padding-top: 120px;
        padding-bottom: 16px;
        .principal-container{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            text-align: center;
            h1{
                width: 286px;
                height: 99px;
                font-size: 25px;
                color: $color-principal;
                line-height: 33px;
                margin-bottom: 30px;
                span{
                    text-transform: uppercase;
                    color: $color-secondary;
                }
            }
            img{
                width: 273px;
                height: 130px;
            }
            .principal-container-input{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    font-family: $secondary-font;
                    width: 334px;
                    height: 50px;
                    border: 1px solid $color-principal;
                    border-radius: 27px;
                    padding: 0 0 10px 30px;
                    &:focus{
                        outline: none;
                    }
                }
                a{
                    margin-left: -45px;
                    z-index: 200;
                    img{
                        cursor: pointer;
                        height: 20px;
                        width: 20px;
                    }
                }
            }       
            .suggestion-container {
                display: none;
                left: 12px;
                position: relative;
                width: 334px;
                border: 1px solid $color-principal;
                border-top: none;
                border-radius: 0 0 27px 27px;
                background-color: white;
                margin: -23px;
                padding: 20px;
                line-height: 25px;
                hr{
                    color: #9CAFC3;
                }
                .suggestions{
                    list-style: none;
                    text-align: left;

                    li{
                        color: #9CAFC3;
                        font-size: 16px;
                        &:hover{
                            background-color: rgba(192, 185, 185, 0.911);
                            cursor: pointer;
                        }
                        img{
                            height: 15px;
                            width: 15px;
                            margin-right: 10px;
                            color: #9CAFC3;
                        }
                    }
                }
            }
        }
    }

    /* Tendring Section */
    .trending-section{
        height: 135px;
        .trending-container{
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            h2{
                font-weight: 700;
                color: $color-principal;
                font-size: 16px;
                line-height: 25px;
            }
            div{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                p{
                    color: $color-principal;
                    font-size: 14px;
                    line-height: 25px;
                    padding-left: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    /* Result Search */
    .result-search-section{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        .result-search-title{
            text-align: center;
            color: $color-principal;
            margin-bottom: 59px;
            font-size: 35px;
            line-height: 50px;
        }
        .result-search-container{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            .item{
                position: relative;
                img{
                    width: 156px;
                    height: 120px;
                    display: block;
                }
                .overlay{
                    display: none;
                    position: absolute;
                    flex-flow: column;
                    justify-content: space-between;
                    background: $color-principal;
                    opacity: 0;
                    width: 100%;
                    font-size: 20px;
                    bottom: 0;
                    color: $color-white;
                    height: 100%;
                    .icon-overlay{
                        display: flex;
                        justify-content: flex-end;
                        img{
                            width: 32px;
                            height: 32px;
                            border-radius: 6px;
                            background:  $color-white;
                            opacity: 0.7;
                            margin: 5px;
                            cursor: pointer;
                        }
                    }
                    .text-overlay{
                        margin: 0 0 5px 10px;
                    }
                }
            }
        }
        .btn{

            border: 1px solid $color-principal;
            border-radius: 25px;
            padding: 20px;
            margin: 50px;
            text-align: center;
            cursor: pointer;

            font-size: 13px;
            color: $color-principal;
            text-transform: uppercase;
            font-weight: bold;
            &:focus {
                outline: none;
            }
        }
    }

    /* Empty Search */
    .search-empty-section{
        display: none;
        .search-empty{
            padding-top: 120px;
            .search-empty-container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                img{
                    width: 28px;
                    height: 21px;
                }
                h2{
                    color: $color-principal;
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
        .description-search-empty-section{
            height: 500px;
            .description-search-empty-container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                img{
                    width: 150px;
                    height: 151px;
                }
                h2{
                    color: $color-secondary;
                    font-size: 22px;
                    line-height: 33px;
                    width: 320px;
                    text-align: center;
                }
            }
        }
    }
    
    /* Slider de Gifos */
    .carousel{
        width: 100%;
        height: 470px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        background: $color-gray;
        h2{
            font-family: $principal-font;
            color: $color-principal;
            font-size: 25px;
            line-height: 60px;
            padding-bottom: 24px;
            text-align: center;
        }
        p{
            font-family: $secondary-font;
            font-size: 18px;
            color: #000000;
            text-align: center;
        }
        .slick-list{
            display: flex;
            align-items: center;
            width: fit-content;
            height: 304px;
            padding: 10px 0px;
            margin: 0px auto;
            max-width: 64vw;
            overflow: hidden;
            .slick-track{
                position: relative;
                overflow-x: scroll;
                top: 0;
                left: 0;
                display: flex;
                transition: .5s ease-in-out;
                .slick{
                    position: relative;
                    width: 243px;
                    float: left;
                    box-sizing: border-box;
                    display: flex;
                    height: 191px;
                    margin-right: 15px;
                    img{
                        width: 243px;
                        border-radius: 4px;
                        box-shadow: 0 2px 0 rgba(0,0,0,.5);
                        transition: .3s ease-in-out;
                        height: 187px;
                        scroll-snap-align: center;
                    }
                    .overlay-slider{
                        display: none;
                        position: absolute;
                        flex-flow: column;
                        justify-content: space-between;
                        background: $color-principal;
                        opacity: 0;
                        width: 100%;
                        font-size: 20px;
                        bottom: 0;
                        color: $color-white;
                        height: 100%;
                        .icon-overlay-slider{
                            display: flex;
                            justify-content: flex-end;
                            img{
                                width: 32px;
                                height: 32px;
                                border-radius: 6px;
                                background:  $color-white;
                                opacity: 0.7;
                                margin: 5px;
                                cursor: pointer;
                            }
                        }
                        .text-overlay-slider{
                            margin: 0 0 0px 15px;
                            display: flex;
                            flex-flow: column;
                            align-items: end;                        
                            .user{
                                font-family: Roboto-Regular;
                                font-size: 15px;
                                color: $color-white;
                            }
                            .title{
                                line-height: unset;
                                text-align: unset;
                                font-size: 16px;
                                color: $color-white;
                                font-family: $secondary-font;
                            }
                        }
                    }
                }
            }
            .slick-arrow{
                display: none;
                background-color: #ffffff;
                position: absolute;
                z-index: 4;
                width: 48px;
                height: 48px;
                text-align: center;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
                border: 1px solid $color-principal;
                cursor: pointer;
            }
            .slick-prev{
                left: 16px;
                img{
                    padding: 15px
                }
            }
            .slick-next{
                right: 14px;
                img{
                    padding: 15px
                }
            }
        }
    }
    
}