main{
    /* Principal con imagen / barra de busqueda */
    .principal-section{
        /* height: 550px; */
        padding-top: 120px;
        padding-bottom: 16px;
        .principal-container{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            text-align: center;
            h1{
                width: 286px;
                height: 99px;
                font-size: 25px;
                color: $color-principal;
                line-height: 33px;
                margin-bottom: 30px;
                span{
                    text-transform: uppercase;
                    color: $color-secondary;
                }
            }
            img{
                width: 273px;
                height: 130px;
            }
            .principal-container-input{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    font-family: $secondary-font;
                    width: 334px;
                    height: 50px;
                    border: 1px solid $color-principal;
                    border-radius: 27px;
                    padding: 0px 30px;
                }
                a{
                    margin-left: -40px;
                    img{
                        cursor: pointer;
                        height: 20px;
                        width: 20px;
                    }
                }
            }       
        }
    }

    /* Tendring Section */
    .trending-section{
        height: 135px;
        .trending-container{
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            h2{
                font-weight: 700;
                color: $color-principal;
                font-size: 16px;
                line-height: 25px;
            }
            p{
                color: $color-principal;
                font-size: 14px;
                line-height: 25px;
            }
        }
    }

    /* Result Search */
    .result-search-section{
        height: 1100px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        .result-search-title{
            text-align: center;
            color: $color-principal;
            margin-bottom: 59px;
            font-size: 35px;
            line-height: 30px;
        }
        .result-search-container{
            display: flex;
            flex-flow: row wrap;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            
            justify-content: center;
            .item{
                position: relative;
                img{
                    width: 156px;
                    height: 120px;
                    display: block;
                }
                .overlay{
                    position: absolute;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    background: $color-principal;
                    opacity: 0;
                    width: 100%;
                    font-size: 20px;
                    bottom: 0;
                    color: $color-white;
                    height: 100%;
                    .icon-overlay{
                        display: flex;
                        justify-content: flex-end;
                        img{
                            width: 32px;
                            height: 32px;
                            border-radius: 6px;
                            background:  $color-white;
                            opacity: 0.7;
                            margin: 5px;
                        }
                    }
                    .text-overlay{
                        margin: 0 0 5px 10px;
                    }
                }
            }
        }
        .btn{
            border: 1px solid $color-principal;
            border-radius: 25px;
            padding: 20px;
            text-align: center;
            cursor: pointer;

            font-size: 13px;
            color: $color-principal;
            text-transform: uppercase;
        }
    }

    /* Empty Search */
    .search-empty-section{
        /* display: none; */
        .search-empty{
            /* height: 280px; */
            padding-top: 120px;
            .search-empty-container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                img{
                    width: 28px;
                    height: 21px;
                }
                h2{
                    color: $color-principal;
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
        .description-search-empty-section{
            height: 500px;
            .description-search-empty-container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                img{
                    width: 150px;
                    height: 151px;
                }
                h2{
                    color: $color-secondary;
                    font-size: 22px;
                    line-height: 33px;
                    width: 320px;
                    text-align: center;
                }
            }
        }
    }
    
    /* Slider de Gifos */

    .trendingGifos-section{
        height: 430px;
        background-color: $color-gray;
        .trendingGifos-text-container{
            height: 50%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h2{
                color: $color-principal;
            }
        }
        .trendingGifos-slider{
            height: 50%;
            display: flex;
            justify-content: space-evenly;
            flex-flow: row nowrap;
            position: relative;
            .img-container-slider{

                .showSlide{
                    /* display: none; */
                    img{
                        width: 243px;
                        height: 187px;
                    }
                }
                .item-slider{
                    position: relative;
                    img{
                        display: block;
                        width: 260px;
                        height: 200px;
                    }
                    .overlay-slider{
                        position: absolute;
                        display: flex;
                        flex-flow: column;
                        justify-content: space-between;
                        background: $color-principal;
                        opacity: 0;
                        width: 100%;
                        font-size: 20px;
                        bottom: 0;
                        color: $color-white;
                        height: 100%;
                        .icon-overlay-slider{
                            display: flex;
                            justify-content: flex-end;
                            img{
                                width: 32px;
                                height: 32px;
                                border-radius: 6px;
                                background:  $color-white;
                                opacity: 0.7;
                                margin: 5px;
                            }
                        }
                        .text-overlay-slider{
                            margin: 0 0 5px 10px;
                        }
                    }
                } 
            }
            .left-container, .right-container{
                align-items: center;
                display: flex;
                div{
                    .left, .right{
                        width: 40px;
                        height: 40px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}