main{
    //TODO: si decido que voy a trabajar con un solo HTML
    // para manejar todo el DOM Deberia encapsular estas secciones para manejarlas por bloque por el momento considero que lo mejor seria que dentro de un section meter dos bloques de divs
    /* Favorites */
    .favorite{
        .favorite-section{
            /* height: 280px; */
            padding-top: 120px;
            .favorite-container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                img{
                    width: 28px;
                    height: 21px;
                }
                h2{
                    color: $color-principal;
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
        .description-empty-favorite-section{
            height: 500px;
            .description-empty-favorite-container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                img{
                    width: 150px;
                    height: 151px;
                }
                h2{
                    color: $color-secondary;
                    font-size: 22px;
                    line-height: 33px;
                    width: 320px;
                    text-align: center;
                }
            }
        }
    }
}