main{
    /* Mis Gifos */
    .misGifos{
        display: none;
        .misGifos-section{
            /* height: 280px; */
            padding-top: 120px;
            .misGifos-container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                img{
                    width: 24px;
                    height: 22px;
                }
                h2{
                    color: $color-principal;
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
        .description-empty-misGifos-section{
            height: 500px;
            .description-empty-misGifos-container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                img{
                    width: 150px;
                    height: 151px;
                }
                h2{
                    color: $color-secondary;
                    font-size: 22px;
                    line-height: 33px;
                    width: 320px;
                    text-align: center;
                }
            }
        }
    }
}