@media screen and (min-width: 768px){
    /* header */
    header{
        display: flex;
        justify-content: space-between;
        padding: 0px 86px 0px 86px;
        .menu-bar{
            .btn-menu{
                display: none;
            }
        }

        .full-menu{
            position: unset;
            top: unset;
            left: unset;

            width: unset;
            height: unset;
            background-color: inherit;
            transition: inherit;

            ul{
                flex-flow: row nowrap;
                li{
                    color: $color-principal;
                }
                .add{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 54px;
                    height: 54px;
                    border: 1px solid $color-principal;
                    border-radius: 50%;
                    background-image: url(../assets/button-crear-gifo.svg);
                }
            }
        }
    }

    main{
        /* Principal con imagen / barra de busqueda */
        .principal-section{
            .principal-container{
                h1{
                    width: 443px;
                    height: 100px;
                }
                img{
                    width: 399px;
                    height: 190px;
                }
                .principal-container-input{
                    input{
                        width: 551px;
                    } 
                }
            }
        }

        /* Result Search */
        .result-search-section{
            .result-search-container{           
                .item{
                    img{
                        width: 260px;
                        height: 200px;
                    }
                }
            }
        }

        /* favorites */
        .favorite{
            .description-empty-favorite-section{
                .description-empty-favorite-container{
                    h2{
                        width: 431px;
                    }
                }
            }
        }

        /* Mis Gifos */
        .misGifos{
            .description-empty-misGifos-section{
                .description-empty-misGifos-container{
                    h2{
                        width: 375px;
                    }
                }
            }
        }

        /* Slider de Gifos */
        .carousel{
            .slick-list{
                max-width: 65vw;
            }
        }
    }

    /* footer */
    footer{
        flex-flow: row nowrap;
        height: 116px;
        align-items: center;
        .footer-social{
            display: flex;
            align-items: center;
        }
    }
}
@media screen and (min-width: 1024px){
    /* header */
    header{
        .menu-bar{
            a{
                width: 63px;
                height: 60px;
                background-image: url(../assets/logo-desktop.svg);
            }
        }
        .full-menu{
            ul{
                li{
                    a:hover{
                        border-bottom: 2px solid $color-secondary;
                    }
                    a:active{
                        color: #9CAFC3;
                    }
                }
                .add{
                    &:hover{
                        background: $color-principal;
                        background-image: url(../assets/CTA-crear-gifo-hover.svg);
                    }
                    &:active{
                        background: #9CAFC3;
                        background-image: url(../assets/CTA-crear-gifo-active.svg);
                    }
                }
            }
        }
    }

    main{

        /* Result Search */
        .result-search-section{
            .result-search-container{           
                .item{
                    .overlay{
                        .icon-overlay{
                            img{
                                &:hover{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &:hover{
                        .overlay{
                            opacity: 0.7;
                        }
                    }
                }      
            }
            .btn:hover{
                background-color: $color-principal;
                color: $color-white;
            }
        }

        /* Slider de Gifos */
        .carousel{
            .slick-list{
                max-width: 74vw;
                .slick-track {
                    overflow-x: unset;
                    .slick{
                        .overlay-slider{
                            
                            .icon-overlay-slider{
                                img{
                                    &:hover{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .overlay-slider{
                                opacity: 0.7;
                            }
                        }
                    }
                }
                
                .slick-arrow{
                    display: flex;
                }
                .slick-prev{
                    left: 50px;
                    &:hover{
                        background: $color-principal;
                        img{ 
                            filter: brightness(2000%);
                        }
                    }
                }
                .slick-next{
                    right: 50px;
                    &:hover{
                        background: $color-principal;
                        img{ 
                            filter: brightness(2000%);
                        }
                    }
                }
            }
        }
    }

    /* footer */
    footer{
        .footer-social{
            .icons{
                a:hover{                   
                    .face{
                        background-image: url(../assets/icon_facebook_hover.svg);
                    }
                    .twit{
                        background-image: url(../assets/icon-twitter-hover.svg);
                    }
                    .insta{
                        background-image: url(../assets/icon_instagram-hover.svg);
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1280px){
    main{
        .carousel{
            .slick-list{
                max-width: 59vw;
                .slick-prev{
                    left: 120px;
                }
                .slick-next{
                    right: 123px;
                }
            }
        }
    }
}
@media screen and (min-width: 1440px){
    /* header */
    header{
        padding: 0px 156px 0px 156px;
    }

    main{

        /* Result Search */
        .result-search-section{
            .result-search-container{
                width: 1280px;
            }
        }

        /* Slider de Gifos */
        .carousel{
            .slick-list{
                max-width: 53vw;
                .slick-prev{
                    left: 166px;
                }
                .slick-next{
                    right: 169px;
                }
            }
        }
    }
}