@media screen and (min-width: 768px){
    /* header */
    header{
        display: flex;
        justify-content: space-between;
        padding: 0px 86px 0px 86px;
        .menu-bar{
            .btn-menu{
                display: none;
            }
        }

        .full-menu{
            position: unset;
            top: unset;
            left: unset;

            width: unset;
            height: unset;
            background-color: inherit;

            transition: inherit;

            ul{
                flex-flow: row nowrap;
                li{
                    color: $color-principal;
                }
                .add{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 54px;
                    height: 54px;
                    border: 1px solid $color-principal;
                    border-radius: 50%;
                    img{
                        display: unset;
                    }
                }
            }
        }
    }

    main{
        /* Principal con imagen / barra de busqueda */
        .principal-section{
            .principal-container{
                h1{
                    width: 443px;
                    height: 100px;
                }
                img{
                    width: 399px;
                    height: 190px;
                }
                .principal-container-input{
                    input{
                        width: 551px;
                    } 
                }
            }
        }

        /* Result Search */
        .result-search-section{
            height: 1570px;
            .result-search-container{           
                .item{
                    img{
                        width: 260px;
                        height: 200px;
                    }
                }
            }
        }

        /* favorites */
        .favorite{
            .description-empty-favorite-section{
                .description-empty-favorite-container{
                    h2{
                        width: 431px;
                    }
                }
            }
        }

        /* Mis Gifos */
        .misGifos{

            .description-empty-misGifos-section{
                .description-empty-misGifos-container{
                    h2{
                        width: 375px;
                    }
                }
            }
        }
    }

    /* footer */
    footer{
        flex-flow: row nowrap;
        height: 116px;
        align-items: center;
        .footer-social{
            display: flex;
            div{
                padding: 20px;
            }
        }
    }
}
@media screen and (min-width: 1024px){
    /* header */
    header{
        .menu-bar{
            a{
                width: 63px;
                height: 60px;
                background-image: url(../assets/logo-desktop.svg);
            }
        }
        .full-menu{
            ul{
                li{
                    a:hover{
                        border-bottom: 2px solid $color-secondary;
                    }
                    a:active{
                        color: #9CAFC3;
                    }
                }
                .add{
                    &:hover{
                        background: $color-principal;
                        img{
                            /* filter: invert(4.4) hue-rotate(1deg) saturate(1%); */
                            filter: brightness(2000%);
                        }
                    }
                    &:active{
                        background: #9CAFC3;
                    }
                    
                    /* &:hover{
                        background: #572EE5;
                        & svg{
                            & path{
                                fill: #ffffff;
                            }
                        }
                    } */
                }
            }
        }
    }

    main{

        /* Result Search */
        .result-search-section{
            height: 1150px;
            .result-search-container{           
                .item{
                    .overlay{
                        .icon-overlay{
                            img{
                                &:hover{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &:hover{
                        .overlay{
                            opacity: 0.7;
                        }
                    }
                }      
            }
            .btn:hover{
                background-color: $color-principal;
                color: $color-white;
            }
        }

        /* Slider de Gifos */
        .trendingGifos-section{
            .trendingGifos-slider{
                .img-container-slider{
                    .item-slider{
                        .overlay-slider{
                            .icon-overlay-slider{
                                img{
                                    &:hover{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .overlay-slider{
                                opacity: 0.7;
                            }
                        }
                    }  
                }
                .left-container, .right-container{
                    div{
                        .left, .right{
                            &:hover{
                                /* filter: invert(4.4) hue-rotate(1deg) saturate(1%); */
                            filter: brightness(2000%);
                            }
                        }
                        &:hover{
                            background-color: $color-principal;
                        }
                    }
                }
            }          
            
        }
    }

    /* footer */
    footer{
        .footer-social{
            div{
                a:hover{
                    img{
                        //TODO: esto no esta funcionando revisar como solucionar este problema del hover
                        fill: #572ee5;
                        /* filter: saturate(86) hue-rotate(1deg) contrast(116%) invert(4.4); */
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1440px){
    /* header */
    header{
        padding: 0px 156px 0px 156px;
    }

    main{

        /* Result Search */
        .result-search-section{
            .result-search-container{
                width: 1280px;
            }
        }
    }
}