*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $principal-font;
    .purple{
        color: #572ee5;
    }
    .gray{
        color: #9CAFC3;
    }
}

/* clases para ocutar y mostrar secciones */
.show {
	display: block !important;
}
.hide {
	display: none !important;
}

/* clases dadas para elementos de la seccion create gifos */
.morado{
	background: #572EE5;
}
.blanco{
	color: #ffffff !important;
}