@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$principal-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$color-principal: #572EE5;
$color-secondary: #50E3C2;
$color-gray: #F3F5F8;
$color-white: #ffffff;
$dark-color: #37383C;
$bold-dark-color: #222326;