@import 'variables';
@import 'header';
@import 'main';
@import 'main-favoritos';
@import 'main-misGifos';
@import 'main-createGifos';
@import 'footer';
@import 'media';
@import 'dark-styles';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $principal-font;
    .purple{
        color: #572ee5;
    }
    .gray{
        color: #9CAFC3;
    }
}

/* clases para ocultar y mostrar secciones */
.show {
	display: block !important;
}
.hide {
	display: none !important;
}

/* clases dadas para elementos de la seccion create gifos */
.morado{
	background: #572EE5;
}
.blanco{
	color: #ffffff !important;
}