@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

* .purple {
  color: #572ee5;
}

* .gray {
  color: #9CAFC3;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-top: 5px solid #572ee5;
}

header .menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

header .menu-bar .btn-menu {
  cursor: pointer;
}

header .full-menu {
  position: fixed;
  top: 93px;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: rgba(87, 46, 229, 0.9);
  -webkit-transition: .2s;
  transition: .2s;
}

header .full-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .full-menu ul li {
  line-height: 60px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
}

header .full-menu ul li a {
  color: inherit;
  text-decoration: none;
}

header .full-menu ul .add img {
  display: none;
}

header .full-menu ul span {
  opacity: 0.5;
  width: 41px;
  border-bottom: 1px solid #ffffff;
}

main {
  /* Result Search */
  /* Empty Search */
}

main .principal-section {
  /* height: 550px; */
  padding-top: 120px;
  padding-bottom: 16px;
  /* .img-search{
            z-index: 1;
            height: 20px;
            width: 20px;
            margin-left: 800px;

        } */
}

main .principal-section .principal-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
}

main .principal-section .principal-container h1 {
  width: 286px;
  height: 99px;
  font-size: 25px;
  color: #572EE5;
  line-height: 33px;
  margin-bottom: 30px;
}

main .principal-section .principal-container h1 span {
  text-transform: uppercase;
  color: #50E3C2;
}

main .principal-section .principal-container img {
  width: 273px;
  height: 130px;
}

main .principal-section .principal-container input {
  font-family: "Roboto", sans-serif;
  width: 334px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 27px;
  padding: 0px 30px;
  z-index: 0;
}

main .principal-section .principal-container i {
  margin-left: 278px;
  margin-top: -35px;
  font-size: 20px;
}

main .principal-section a img {
  height: 20px;
  width: 20px;
}

main .trending-section {
  height: 135px;
}

main .trending-section .trending-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .trending-section .trending-container h2 {
  font-weight: 700;
  color: #572EE5;
  font-size: 16px;
  line-height: 25px;
}

main .trending-section .trending-container p {
  color: #572EE5;
  font-size: 14px;
  line-height: 25px;
}

main .result-search-section {
  height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .result-search-section .result-search-title {
  text-align: center;
  color: #572EE5;
  margin-bottom: 59px;
  font-size: 35px;
  line-height: 30px;
}

main .result-search-section .result-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .result-search-section .result-search-container .item {
  position: relative;
  /* .overlay{
                    position: absolute;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    background: #572EE5;
                    opacity: 0.7;
                    width: 100%;
                    font-size: 20px;
                    bottom: 0;
                    color: #ffffff;
                    height: 100%;
                    display: none;
                    .icon-overlay{
                        display: flex;
                        justify-content: flex-end;
                        img{
                            width: 32px;
                            height: 32px;
                            border-radius: 6px;
                            background:  #FFFFFF;
                            opacity: 0.7;
                            margin: 5px;
                        }
                    }
                    .text-overlay{
                        margin: 0 0 5px 10px;
                    }
                } */
}

main .result-search-section .result-search-container .item img {
  width: 156px;
  height: 120px;
  display: block;
}

main .result-search-section .btn {
  border: 1px solid #572EE5;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  color: #572EE5;
  text-transform: uppercase;
}

main .search-empty-section {
  /* height: 280px; */
  padding-top: 120px;
  display: none;
}

main .search-empty-section .search-empty-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .search-empty-section .search-empty-container img {
  width: 28px;
  height: 21px;
}

main .search-empty-section .search-empty-container h2 {
  color: #572EE5;
  font-size: 25px;
  line-height: 30px;
}

main .description-search-empty-section {
  height: 500px;
  display: none;
}

main .description-search-empty-section .description-search-empty-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .description-search-empty-section .description-search-empty-container img {
  width: 150px;
  height: 151px;
}

main .description-search-empty-section .description-search-empty-container h2 {
  color: #50E3C2;
  font-size: 22px;
  line-height: 33px;
  width: 320px;
  text-align: center;
}

main .trendingGifos-section {
  height: 430px;
  background-color: #F3F5F8;
}

main .trendingGifos-section .trendingGifos-container {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .trendingGifos-section .trendingGifos-container h2 {
  color: #572EE5;
}

main .trendingGifos-section .trendingGifos-slider {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
}

main .trendingGifos-section .trendingGifos-slider .showSlide {
  display: none;
}

main .trendingGifos-section .trendingGifos-slider .showSlide img {
  width: 100%;
}

main .trendingGifos-section .trendingGifos-slider .left-container, main .trendingGifos-section .trendingGifos-slider .right-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .trendingGifos-section .trendingGifos-slider .left-container div .left, main .trendingGifos-section .trendingGifos-slider .left-container div .right, main .trendingGifos-section .trendingGifos-slider .right-container div .left, main .trendingGifos-section .trendingGifos-slider .right-container div .right {
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .trendingGifos-section .trendingGifos-slider .left-container div .left:hover, main .trendingGifos-section .trendingGifos-slider .left-container div .right:hover, main .trendingGifos-section .trendingGifos-slider .right-container div .left:hover, main .trendingGifos-section .trendingGifos-slider .right-container div .right:hover {
  /* filter: invert(4.4) hue-rotate(1deg) saturate(1%); */
  -webkit-filter: brightness(2000%);
          filter: brightness(2000%);
}

main .trendingGifos-section .trendingGifos-slider .left-container div:hover, main .trendingGifos-section .trendingGifos-slider .right-container div:hover {
  background-color: #572EE5;
}

main .favorite-section {
  /* height: 280px; */
  padding-top: 120px;
}

main .favorite-section .favorite-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .favorite-section .favorite-container img {
  width: 28px;
  height: 21px;
}

main .favorite-section .favorite-container h2 {
  color: #572EE5;
  font-size: 25px;
  line-height: 30px;
}

main .description-favorite-section {
  height: 500px;
}

main .description-favorite-section .description-favorite-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .description-favorite-section .description-favorite-container img {
  width: 150px;
  height: 151px;
}

main .description-favorite-section .description-favorite-container h2 {
  color: #50E3C2;
  font-size: 22px;
  line-height: 33px;
  width: 320px;
  text-align: center;
}

main .misGifos-section {
  /* height: 280px; */
  padding-top: 120px;
}

main .misGifos-section .misGifos-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .misGifos-section .misGifos-container img {
  width: 24px;
  height: 22px;
}

main .misGifos-section .misGifos-container h2 {
  color: #572EE5;
  font-size: 25px;
  line-height: 30px;
}

main .description-misGifos-section {
  height: 500px;
}

main .description-misGifos-section .description-misGifos-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .description-misGifos-section .description-misGifos-container img {
  width: 150px;
  height: 151px;
}

main .description-misGifos-section .description-misGifos-container h2 {
  color: #50E3C2;
  font-size: 22px;
  line-height: 33px;
  width: 320px;
  text-align: center;
}

footer {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-bottom: 5px solid #572ee5;
}

footer .footer-social p {
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  padding: 20px 0px;
}

footer .footer-social a {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

footer .footer-copy {
  font-size: 14px;
  padding: 20px 0px;
}

@media screen and (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 86px 0px 86px;
  }
  header .menu-bar .btn-menu {
    display: none;
  }
  header .full-menu {
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    background-color: inherit;
    -webkit-transition: inherit;
    transition: inherit;
  }
  header .full-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  header .full-menu ul li {
    color: #572EE5;
  }
  header .full-menu ul li a:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  header .full-menu ul li a:active {
    color: #9CAFC3;
  }
  header .full-menu ul .add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 54px;
    height: 54px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    /* &:hover{
                        background: #572EE5;
                        & svg{
                            & path{
                                fill: #ffffff;
                            }
                        }
                    } */
  }
  header .full-menu ul .add img {
    display: unset;
  }
  header .full-menu ul .add:hover {
    background: #572EE5;
  }
  header .full-menu ul .add:hover img {
    /* filter: invert(4.4) hue-rotate(1deg) saturate(1%); */
    -webkit-filter: brightness(2000%);
            filter: brightness(2000%);
  }
  main .principal-section .principal-container h1 {
    width: 443px;
    height: 100px;
  }
  main .principal-section .principal-container img {
    width: 399px;
    height: 190px;
  }
  main .principal-section .principal-container input {
    width: 551px;
  }
  main .principal-section .principal-container i {
    margin-left: 478px;
  }
  main .result-search-section {
    height: 1570px;
  }
  main .result-search-section .result-search-container .item img {
    width: 260px;
    height: 200px;
  }
  main .result-search-section .result-search-container .item .overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #572EE5;
    opacity: 0;
    width: 100%;
    font-size: 20px;
    bottom: 0;
    color: #ffffff;
    height: 100%;
  }
  main .result-search-section .result-search-container .item .overlay .icon-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main .result-search-section .result-search-container .item .overlay .icon-overlay img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: #FFFFFF;
    opacity: 0.7;
    margin: 5px;
  }
  main .result-search-section .result-search-container .item .overlay .icon-overlay img:hover {
    opacity: 1;
  }
  main .result-search-section .result-search-container .item .overlay .text-overlay {
    margin: 0 0 5px 10px;
  }
  main .result-search-section .result-search-container .item:hover .overlay {
    opacity: 0.7;
  }
  main .result-search-section .btn:hover {
    background-color: #572EE5;
    color: #ffffff;
  }
  main .description-favorite-section .description-favorite-container h2 {
    width: 431px;
  }
  main .description-misGifos-section .description-misGifos-container h2 {
    width: 375px;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 116px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-social div {
    padding: 20px;
  }
  footer .footer-social div a:hover img {
    fill: #572ee5;
    /* filter: saturate(86) hue-rotate(1deg) contrast(116%) invert(4.4); */
  }
}

@media screen and (min-width: 1024px) {
  main .result-search-section {
    height: 1150px;
  }
}

@media screen and (min-width: 1440px) {
  header {
    padding: 0px 156px 0px 156px;
  }
  main .result-search-section .result-search-container {
    width: 1280px;
  }
}
/*# sourceMappingURL=style.css.map */